@font-face {
    font-family: Exo;
    src: url(fonts/Exo2-Regular.ttf);
}

html {
	height:100%;
	font-family: Exo!important;
}
body {
	margin:0;
	
}

main {
	margin-left: 295px;	
	color:#333333;
	
}

span, p {
cursor:default;
}


.page {
	max-width:1170px; 
	margin-left:auto; 
	margin-right:auto;
}
#page {		
	min-height: calc(100vh - 150px)
}

.modal {
	width:400px;
}

.color {
	background-color:#6fcd95!important;
}

.bluefont {
	color:#4fb9df!important;
}
.greenfont {
	color:#6fcd95!important;
}
.green {
	background-color:#4fb9df!important;
}
.centered {
	text-align:center;
	margin:25px 0 0 0;
}
	
header {

	font-size:24px;	
}
nav {
	height:100px;
}
nav .button-collapse i {
    font-size: 2.7rem;
    height: 60px;
    line-height: 60px;
}
.nav-wrapper span {
	margin-left: 305px;
	line-height:100px;
}

.side-nav.fixed {
    left: auto;
	font-weight:normal;
	width: 280px;
	position: absolute;
	
}
.side-nav.fixed a {
	height:50px;
	line-height:52px;
	font-size:16px;
}

.side-nav .active {
	background-color:#6fcd95!important;
}


.side-nav .active a{

	color:white;
}

nav .button-collapse {
	position: absolute;
    left: 10px;
}

li.logo {
	text-align:center;
	font-size:20px;
	background-color:gray;
	color:white;
	height:60px;
	margin: 20px 40px;
	border-radius:10px;
	
}
.username {
	font-size:20px;	
	line-height: 35px!important;
    margin: 10px 0;
	text-align:center;
	cursor:default;
}
.username .material-icons {
	font-size:30px;
	margin:22px 5px 22px 20px!important;
	float:left;
}
.side-nav.fixed .material-icons {
	margin:13px 18px 13px 5px!important;
	float:left;
}



.divider1 {
	margin:0 20px 20px 20px;	
}

.divider2 {
	margin:10px 15px 10px 15px;	
}



.par .card{
	border-left:6px solid #6fcd95;
}

.par .card-body {
	padding: 0 5px 0 15px;
}
.par .card-text{
	padding: 20px 10px;
}



.card {
	margin:10px 0 10px 0;
	text-align:center;
}


.card-content {

	padding:0!important;
}

.card img{
	width: 85px;
    margin-right: 15px;
    margin-top: 12px;
}


.card-body {
	display:inline-flex;
	justify-content:space-between;
	width:100%;
	padding:10px;	
}
.card-text {
	text-align:left;
	padding:10px;
	font-size:20px;
	color:#333333;
}
.card-text .card-year-number {
	font-size:24px;
	padding-right:5px;
	font-weight:bold;
}
.card-content .for-img {
	width:85px!important;
	height:85px;
	border:3px solid #6fcd95;
	border-radius:100px;
	margin-top:15px;
}
.card-content img {
	width:50px!important;
	height:50px;
	margin:10px;
}

.calendar {
	
	
}
.ui-datepicker-calendar {
	margin:0;
	text-align:center;
	box-shadow:none;
}
.ui-datepicker-header {
	background-color:#6fcd95;
	height:60px;
	color:white;
	line-height: 60px;
    font-size: 18px;
}
.ui-datepicker-month{
	margin-left: 25px;
}
.ui-datepicker-calendar thead tr{
	background-color: inherit;
    color: #6fcd95; 
    font-weight: bold;
	
}
.ui-datepicker-calendar thead {
	border:0;
}
.ui-datepicker-calendar th, .ui-datepicker-calendar td{
	text-align: center;
}
.ui-datepicker-calendar td a{
	color:#333333;
}

.ui-datepicker-prev span, .ui-datepicker-next span {
	font-family: 'Material Icons';
	font-size:30px;
	cursor:pointer;
	float:right;
	color:white;
	margin-right: 10px;
}	

.ui-datepicker-calendar  .ui-datepicker-current-day {
	background-color:#6fcd95;
	border-radius: 20px; 
	padding:0;
	
}

.shadow {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.cal-card {
	border-top: 1px solid lightgray;
	border-left:6px solid #6fcd95;
	line-height:18px;	
}
.cal-card p{
	margin:10px;
}

.card-text-name {
	font-size:18px;
	line-height:18px;
}
.card-year-number {
	font-size:20px;
	padding-right:5px;
}

.fab-tip {
  position: fixed;
  right: 85px;
  padding: 0 5px;
  background-color: #323232;
  border-radius: 2px;
  color: #FFF;
  width: auto;
}

table {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    margin: 10px;
	width: -webkit-fill-available;
	font-size:16px;
}


table>tbody>tr:nth-child(odd) {
    background-color: #f9f9f9;
}

table thead tr {
	background-color: #6fcd95;
	color:white;
	font-weight:bold;
	
}
table td {
	padding: 10px;
}
.tableEdit {
	cursor:pointer;
	width: 40px;
	color: grey;
}
.tableEdit:hover {
	color:#4fb9df;
}
table .table-name {
	font-size:18px;
}


.undermain {
	padding-left: 7%;
}
.page h1 {
	margin:0;
	padding: 30px 10px 10px 10px;
	font-size:30px;
	text-align:center;
}
.landing h1 {

	font-size:48px;
}
.landing .material-icons {
    font-size: inherit;
}

.page h2 {
	margin:40px 0 0 5px;
	font-size:24px;
}

.undermain p {
	display: grid;
}

.undermain p label{
margin: 10px 0;
font-size:16px;
max-width:200px;
}
.collection {
	border:0 ;
	margin: 30px 10px 10px 10px;
	font-size: 18px;
}

.collection-item {
	padding:10px 0!important;
	line-height:30px!important;
	border-bottom:0!important;
}
.collection-item .col.s7 {
	display:inline-flex;
	width: auto;
	cursor:pointer;
}
.collection-item .col.s7 i {
	margin: 3px 7px;
    font-size: 20px;
	line-height: 24px;
}

.collection-item .col.s7 i:hover {
	color:#4fb9df;
}

footer {
	position: relative;
	padding-top:20px;
	padding-bottom:20px;
	width:100%;
	color:white;
	z-index:1001;
}
.rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.drag-target {
	display:none;
}

.toast {
	background-color:#ffa000!important;
}

.modal.open {
	max-height: none;

}

.preloader-wrapper {
	margin-left:calc(50% - 32px);
	margin-top:30vh;	
	}
	
	
	
	


.modal-header {
	background-color:#6fcd95;
	height: 80px;
    color: white;
}
.modal h4 {
	font-size:26px;
    line-height: 80px;
    padding-left: 20px;
}

.modal .modal-content {
    padding: 10px;
}

.modal-content .row {
	margin-bottom:0;
}

.lean-overlay {
	top: 0;
}




@media only screen and (max-width: 992px) {
	main {
		margin-left: 0;	
	}
	
	nav {
		height:60px;
	}

	.nav-wrapper span {
		line-height:60px;
	}
	
	.side-nav.fixed {    
		top:0;
		height:100%;
		width:240px;
	}
	.nav-wrapper span {
		margin-left:60px;
	}
	table {
		margin: 0;	
	}
  
	.drag-target {
		display:block;
	}
	.collection-item.row .col {
		padding:0!important;
	}  
	.modal {
		width:400px;
	}
	footer {
		z-index:0;
	}
}

@media only screen and (max-width: 600px) {

	#page {		
		min-height: calc(100vh - 142px);
	}
	.modal {
		width:80%;
	}
	.landing h1 {

	font-size:32px;
	}
	.all-dates thead{
		display:none;
	}
	
  }