html,
body {
    height: 100%;
	min-height: 550px;
	width:100%;
	display: table-cell;
    vertical-align: middle;
	color:#4d4d4d;
	background-color:#e0e0e0;
}
html {
    display: table;
    margin: auto;
}
#login-page {
	width: 320px;
}

.margin {
  margin: 0 !important;
}
.login-form {
	width:300px;
}

.toast {
	background-color:#ffa000!important;
}
h1 {
	font-size:30px;
	line-height:1;
	margin: 10px 0 0 0;
}
.material-icons {
	margin-top: 8px;
}