html,
body {
    height: 100%;

	width:100%;
	display: table-cell;
    vertical-align: middle;
	color:#4d4d4d;
	background-color:#e0e0e0;
	background-color:#00bcd4;
}
html {
    display: table;
    margin: auto;
}
#login-page {
	width: 320px;
}

.margin {
  margin: 0 !important;
}
.login-form {
	width:300px;
}

.toast {
	background-color:#ffa000!important;
}
h1 {
	font-size:30px;
	line-height:1;
	margin: 10px 0 0 0;
}
.material-icons {
	margin-top: 8px;
}

.btn {
	background-color:#ff4081;
}

.active {
	color:#ff4081!important;
}
input:focus {
	border-bottom:1px solid #ff4081!important;
	box-shadow:0 1px 00 #ff4081!important;
}