html {
	height:100%;
}
body {
	min-height:100%;
	margin:0;
}

main {
	padding-left: 240px;
}


.page {
	min-height:100%;
	max-width:1000px; 
	margin-left:auto; 
	margin-right:auto;
}



.color {
	background-color:#00bcd4!important;
}

header {
	margin-bottom:5px;
	font-size:20px;
}

.nav-wrapper span {
	margin-left:20px;
}

main {
	margin: 0 10px;

}
.side-nav.fixed {
    left: auto;
	font-weight:normal;
	top:74px;
	box-shadow: none;
	height:auto;
	padding-bottom:10px;
}
.side-nav a {
	height:50px;
	line-height:50px;
}

.side-nav .active{
    background-color: rgba(0,0,0,0.15);
}

nav .button-collapse {
	position: absolute;
    left: 10px;
}


.username {
	font-size:20px;
	margin:0 0 0 30px;	
	font-weight:bold;
	
}

.divider {
	margin:10px 15px 10px 15px;	
}


.card {
	margin:10px 0 10px 0;
	text-align:center;
}
.card .card-content {
	padding: 10px;
}

.card img{
	width: 100px;
}
.card-content p {
    font-size: 18px;
}


.fab-tip {
  position: fixed;
  right: 85px;
  padding: 0 5px;
  background-color: #323232;
  border-radius: 2px;
  color: #FFF;
  width: auto;
}

footer {
	padding-top:20px;
	padding-bottom:20px;
	width:100%;
	color:white;
}

@media only screen and (max-width: 992px) {
  main {
    padding-left: 0;
  }
  .side-nav.fixed {    
	top:0;
	height:100%;
  }
  .nav-wrapper span {
	margin-left:60px;
  }
  
}